*{
    margin:0px;
    padding:0px;
}
body{
    font-family:'Poppins',sans-serif;
}
.navbar{
    background-color: #FD6569;
    padding:10px;
}
.container{
    padding:10px;
}
.book-container{
    padding:25px;
    width:25%;
    background-color: black;
    border-radius: 10px;
    color:white;
    display:inline-block;
    vertical-align: top;
    margin-bottom:5px;
    margin:30px;
}
.book-container h2{
    color: #FD6569;
    margin-bottom:5px;
    
}
.book-container button{
    color:black;   
    background-color: #FD6569;
    border-radius:10px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    border:none;
    margin-top:15px;

}
.add-button{
    background-color: #FD6569;
    color:black;
    border-radius:100%;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left:30px;
    padding-right:30px;
    font-size:40px;
    border:none;
    position:fixed;
    bottom:30px;
    right:30px;

}
.popup-overlay{
    background-color:black;
    opacity: 0.7;
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 1;
    display: none;
}
.popupbox{
    background-color: #FD6569;
    width:40%;
    padding:40px;
    border-radius: 10px;
    position: absolute;
    top:20%;
    bottom:20%;
    z-index: 2;
    left: 30%;
    display:none;
}
.popupbox input{
    background-color: transparent;
    border:none;
    width:100%;
    margin:5px;
    padding:5px;
    font-size: 20px;
    border-bottom: solid black 2px;

}
.popupbox textarea{
    background-color: transparent;
    width:100%;
    margin:5px;
    padding:5px;
    font-size: 20px;
    border-bottom: solid black 2px;

}
.popupbox input::placeholder{
    color:black;
}
.popupbox textarea::placeholder{
    color:black;
}
.popupbox button{
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border:none;
    color:azure;
    margin: 5px;
}
.popupbox input:focus{
    outline:none;
}
.popupbox textarea:focus{
    outline:none;
}